html {
  height: 100%;
  width: 100%;
}

.main{
  max-width: 700px;
  margin: auto;
  padding-top: 100px;
}

.input-group{
  border: solid 5px #ff8080;
  margin-top: 10px;
}

.fa-solid{
  color: #940000;
  font-size: 20px;
}

#search{
  max-width: 300px;
  float: right;
  margin-bottom: 10px;
  
}

